<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React, { useState, useEffect } from 'react';
import { translate } from 'react-jhipster';
<%_ if (pagination === 'infinite-scroll') { _%>
import InfiniteScroll from 'react-infinite-scroller';
<%_ } _%>
import { connect } from 'react-redux';
import { Link, RouteComponentProps } from 'react-router-dom';
import { <% if (searchEngine === 'elasticsearch') { %>InputGroup, <% } %>Col, Row, Table } from 'reactstrap';
<%_ if (searchEngine === 'elasticsearch') { _%>
import { AvForm, AvGroup, AvInput } from 'availity-reactstrap-validation';
<%_ } _%>
import {
  <%_ if (blobFields.length > 0) { _%>
    <%_ if (fieldsContainBlobOrImage) { _%>
  openFile,
    <%_ } _%>
  byteSize,
  <%_ } _%>
  Translate<% if (searchEngine === 'elasticsearch') { %>, translate, ICrudSearchAction<% } %>,
  ICrudGetAllAction<% if (fieldsContainDate) { %>, TextFormat<% } %>
  <%_ if (pagination !== 'no') { _%>
  , getSortState, IPaginationBaseState
  <%_ if (pagination === 'pagination' || pagination === 'pager') { _%>
  , JhiPagination, JhiItemCount
  <%_ }} _%>
} from 'react-jhipster';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';

import { IRootState } from 'app/shared/reducers';
<%_
let hasRelationshipQuery = false;
let otherEntityActions = new Set();
let manyToManyOwners = new Set();
let relFieldNames = new Set();
let uniqueRealtionFields = new Set();


Object.keys(differentRelationships).forEach(key => {

  const hasAnyRelationshipQuery = differentRelationships[key].some(rel =>
      (rel.relationshipType === 'one-to-one' && rel.ownerSide === true && rel.otherEntityName !== 'user')
          || rel.relationshipType !== 'one-to-many'
  );
  if (hasAnyRelationshipQuery) {
    hasRelationshipQuery = true;
    differentRelationships[key].forEach(rel => {
      if (rel.relationshipType === 'many-to-many' && rel.ownerSide === true) {
        manyToManyOwners.add(rel);
      } else {
        relFieldNames.add(rel);
      }
    });
  }
  if (differentRelationships[key].some(rel => rel.relationshipType !== 'one-to-many')) {
    const uniqueRel = differentRelationships[key][0];
    uniqueRealtionFields.add(uniqueRel.otherEntityNamePlural);
    otherEntityActions.add({
      action: `get${upperFirstCamelCase(uniqueRel.otherEntityNamePlural)}`,
      instance: `${uniqueRel.otherEntityNamePlural}`,
      entity: uniqueRel.otherEntityAngularName,
      reducer: uniqueRel.otherEntityAngularName === 'User' ? 'userManagement' : uniqueRel.otherEntityName
    });
    if (uniqueRel.otherEntityAngularName === 'User') {
_%>
import { I<%= uniqueRel.otherEntityAngularName %> } from 'app/shared/model/user.model';
<%_ if (authenticationType === 'oauth2') { _%>
import { getUsers } from 'app/shared/reducers/user-management';
<%_ } else { _%>
import { getUsers } from 'app/modules/administration/user-management/user-management.reducer';
<%_ } _%>
<%_
  } else {
    if (uniqueRel.otherEntityAngularName !== entityReactName) {
_%>
import { I<%= uniqueRel.otherEntityAngularName %> } from 'app/shared/model/<%= uniqueRel.otherEntityModelName %>.model';
  <%_ } _%>
import { getEntities as get<%= upperFirstCamelCase(uniqueRel.otherEntityNamePlural) %> } from 'app/entities/<%= uniqueRel.otherEntityPath %>/<%= uniqueRel.otherEntityFileName %>.reducer';
<%_ }
  }
}); _%>
import {
  <%_ if (jpaMetamodelFiltering) { _%>
    getEntitiesByQuery,
  <%_ } _%>
  <%_ if (searchEngine === 'elasticsearch') { _%>
  getSearchEntities,
  <%_ } _%>
  getEntities
  <%_ if (pagination === 'infinite-scroll') { _%>
  , reset
  <%_ } _%>
} from './<%= entityFileName %>.reducer';
import { I<%= entityReactName %> } from 'app/shared/model/<%= entityModelFileName %>.model';
import { APP_DATE_FORMAT, APP_LOCAL_DATE_FORMAT } from 'app/config/constants';
<%_ if (pagination !== 'no') { _%>
import { ITEMS_PER_PAGE } from 'app/shared/util/pagination.constants';
<%_ } _%>
import { DataTable } from 'primereact/datatable';
import { Column } from 'primereact/column';
import { MultiSelect } from 'primereact/multiselect';
import { OverlayPanel } from 'primereact/overlaypanel';
import { InputText } from 'primereact/inputtext';
import { Dropdown } from 'primereact/dropdown';
import { Button } from 'primereact/button';
import {Calendar} from 'primereact/calendar';
import moment from 'moment';



export interface I<%= entityReactName %>Props extends StateProps, DispatchProps, RouteComponentProps<{url: string}> {}

export const <%= entityReactName %> = (props: I<%= entityReactName %>Props) => {
  let op:any;
  let dt:any;
  const cols = [
  {
    field:'id',
    fieldType:'Long',
    header: 'Id'
  },
  <%_ for (idx in fields) { 
    const fieldType = fields[idx].fieldType;
    const fieldName = fields[idx].fieldName;
    const fieldIsEnum = fields[idx].fieldIsEnum;
    _%>
    {
    field:'<%=fieldName%>',
    <%_if (fieldIsEnum && enableTranslation){_%>
    fieldType:'Enum',
    <%_ } else if (['byte[]', 'ByteBuffer'].includes(fieldType)) { _%>
    <%_ if (fields[idx].fieldTypeBlobContent === 'image') { _%>
    fieldType:'blobImage',
    <%_} else if (fields[idx].fieldTypeBlobContent === 'text') { _%>
    fieldType:'blobText',
    <%_ } else { _%>
    fieldType:'blob',  
    <%_ } _%>
    <%_} else {_%>
    fieldType:'<%=fieldType%>',
    <%_ } _%>
    header: translate('<%= i18nKeyPrefix %>.<%=fields[idx].fieldName%>'),
    },
  <%_ } _%>
  <%_ for (idx in relationships) {
    const relationshipType = relationships[idx].relationshipType;
    const ownerSide = relationships[idx].ownerSide;
    const relationshipFieldName = relationships[idx].relationshipFieldName;
    const relationshipFieldNamePlural = relationships[idx].relationshipFieldNamePlural;
    const otherEntityName = relationships[idx].otherEntityName;
    const otherEntityStateName = relationships[idx].otherEntityStateName;
    const otherEntityField = relationships[idx].otherEntityField;
    const otherEntityFieldCapitalized = relationships[idx].otherEntityFieldCapitalized; _%>
    <%_ if (relationshipType === 'many-to-one'
    || (relationshipType === 'one-to-one' && ownerSide === true)
    || (relationshipType === 'many-to-many' && ownerSide === true && pagination === 'no')) { _%>
    <%_ if (dto === 'no') { _%>
      {
        field:'<%=fields[idx].fieldName%>',
        fieldType:'String',
        header: translate('<%= i18nKeyPrefix %>.<%=fields[idx].fieldName%>')
      },
    <%_ } else { _%>
      {
        field:'<%=relationshipFieldName%>Id',
        fieldType:'Long',
        header: translate('<%= i18nKeyPrefix %>.<%= relationshipFieldName%>')
      },
    <%_ } _%>
  <%_ } _%>
  <%_ } _%>
    {
      field:'actions',
      fieldType:'action',
      header: '',
    }
    ]


  const [columns, setColumns] = useState(cols);
  <%_ if (searchEngine === 'elasticsearch' || pagination !== 'no') { _%>
    <%_ if (searchEngine === 'elasticsearch') { _%>
  const [search, setSearch] = useState('');
    <%_ } _%>
    <%_ if (pagination !== 'no') { _%>
  const [first, setFirst] = useState(0);
  const [rows, setRows] = useState(10);
  const [sortField, setSortField] = useState('id');
  const [sortOrder, setSortOrder] = useState(1);
    <%_ } _%>
  <%_ } _%>
  <%_ if (pagination === 'infinite-scroll') { _%>
  const [sorting, setSorting] = useState(false);
  <%_ } _%>
  <%_ if (jpaMetamodelFiltering) { _%>
  const [filters, setFilters] = useState({});
  <%_ } _%>

  <%_ if (pagination === 'pagination' || pagination === 'pager' || pagination === 'infinite-scroll' || pagination !== 'no' && pagination !== 'infinite-scroll') { _%>
  const getAllEntities = () => {
  <%_ if (jpaMetamodelFiltering) { _%>
    props.getEntitiesByQuery( first/rows, rows, `${sortField},${sortOrder===1?'asc':'desc'}`,filters);
  <%_ }else{ _%>
    <%_ if (searchEngine === 'elasticsearch') { _%>
    if (search) {
      props.getSearchEntities(search, paginationState.activePage - 1, paginationState.itemsPerPage, `${paginationState.sort},${paginationState.order}`);
    } else {
      props.getEntities(paginationState.activePage - 1, paginationState.itemsPerPage, `${paginationState.sort},${paginationState.order}`);
    }
    <%_ } else { _%>
      props.getEntities(first/rows, rows, `${sortField},${sortOrder===1?'asc':'desc'}`);
    <%_ } _%>
  <%_ } _%>
  };
  <%_ } _%>


  <%_ if (pagination === 'infinite-scroll') { _%>
  const resetAll = () => {
    props.reset();
    setPaginationState({
      ...paginationState,
      activePage: 1
    });
  };
  <%_ } _%>

  useEffect(() => {
    <%_ if (pagination !== 'no') { _%>
      <%_ if (pagination === 'infinite-scroll') { _%>
    resetAll();
      <%_ } else { _%>
    getAllEntities();
      <%_ } _%>
    <%_ } else { _%>
    props.getEntities();
    <%_ } _%>
  }, []);

  <%_ if (pagination === 'infinite-scroll') { _%>
  useEffect(() => {
    if (props.updateSuccess) {
      getAllEntities();
    }
  });
  <%_ } _%>

  <%_ if (searchEngine === 'elasticsearch') { _%>
    <%_ if (pagination !== 'no') { _%>
  useEffect(() => {
    props.getSearchEntities(search, paginationState.activePage - 1, paginationState.itemsPerPage, `${paginationState.sort},${paginationState.order}`);
  }, [paginationState.activePage]);

    <%_ } _%>
  const startSearching = () => {
    if (search) {
      <%_ if (pagination === 'infinite-scroll') { _%>
      props.reset();
      <%_ } _%>
      <%_ if (pagination !== 'no') { _%>
      setPaginationState({
        ...paginationState,
        activePage: 1
      });
      <%_ } else { _%>
      props.getSearchEntities(search);
      <%_ } _%>
    }
  };

  useEffect(() => {
    props.getEntities()
  }, [<%_ if (pagination !== 'no') { _%>paginationState.activePage, <%_ } _%>search]);

  const clear = () => {
    <%_ if (pagination === 'infinite-scroll') { _%>
    props.reset();
    <%_ } _%>
    setSearch('');
    <%_ if (pagination !== 'no') { _%>
    setPaginationState({
      ...paginationState,
      activePage: 1
    });
    <%_ } _%>
  };

  const handleSearch = event => setSearch(event.target.value);
  <%_ } _%>

  <%_ if (pagination === 'infinite-scroll') { _%>
  useEffect(() => {
    getAllEntities()
  }, [paginationState.activePage]);

  const handleLoadMore = () => {
    if (window.pageYOffset > 0) {
      setPaginationState({
        ...paginationState,
        activePage: paginationState.activePage + 1
      });
    }
  };
  <%_ } _%>

  <%_ if (pagination !== 'no') { _%>
    const onPage = (event: any) => {
      setFirst(event.first);  
      setRows(event.rows);
      <%_ if (jpaMetamodelFiltering) { _%>
      props.getEntitiesByQuery(event.first / event.rows, event.rows, `${sortField},${sortOrder === 1 ? 'asc' : 'desc'}`,{});
      <%_ } else { _%>
      props.getEntities(first/rows, rows, `${sortField},${sortOrder}`);
      <%_ } _%>
    };
    const onSort = event => {
      setSortField(event.sortField);
      setSortOrder(event.sortOrder);
      props.getEntities(event.first/ event.rows, event.rows, `${event.sortField},${event.sortOrder===1?'asc':'desc'}`);
    };
  <%_ } _%>
  <%_ if (jpaMetamodelFiltering) { _%>
    
    const onFilter = (event: any) => {
      setFilters(event.filters);
      props.getEntitiesByQuery(first / rows, rows,  `${sortField},${sortOrder===1?'asc':'desc'}`, event.filters );
    };
  
    const filterEnumOptions = {
    <%_ for (idx in fields) {
      const fieldType = fields[idx].fieldType;
      const fieldName = fields[idx].fieldName;
      const fieldNameHumanized = fields[idx].fieldNameHumanized;
    _%>
        <%_
        if (fields[idx].fieldIsEnum) {
          const values = fields[idx].fieldValues.replace(/\s/g, '').split(',');
          let i=0;
        _%>
          <%= fieldName %>: [
          {label:translate('<%= i18nKeyPrefix %>.home.select'), value: null},
          <%_for (i=0;i < values.length;i++) {
            const value = values[i];
          _%>
            {label:'<%= value %>', value:'<%= value %>'},
          <%_ } _%>
          ],
        <%_ } _%>
    <%_ } _%>
    }
  
    const filterOptions = (field, fieldType) => {
      return (
        <div>
          {fieldType === 'Enum' ? (
          <Dropdown
            filter
            appendTo={document.body}
            value={filters[field] && filters[field].value}
            options={filterEnumOptions[field]}
            onChange={e => {
              dt.filter(e.value, field, 'equals');
            }}
          />
        ) : fieldType === 'LocalDate' ? (
          <Calendar
            value={filters[field] && filters[field].value}
            appendTo={document.body}
            onChange={e => {
              dt.filter(e.value ? moment(e.value.valueOf()).format('YYYY-MM-DD') : '', field, 'equals');
            }}
            showButtonBar={true}
          />
        ) : fieldType === 'ZonedDateTime' || fieldType === 'Instant' ? (
          <Calendar
            value={filters[field] && filters[field].value}
            appendTo={document.body}
            showTime={true}
            onChange={e => {
              dt.filter(e.value ? moment(e.value.valueOf()).toISOString() : '', field, 'lessThanOrEqual');
            }}
            showButtonBar={true}
          />
        ) : fieldType === 'Boolean' ? (
          <Dropdown
            filter
            appendTo={document.body}
            value={filters[field] && filters[field].value}
            options={[{ label: 'TRUE', value: true }, { label: 'FALSE', value: false }]}
            onChange={e => {
              dt.filter(e.value, field, 'equals');
            }}
          />
        ) : fieldType === 'Long' || fieldType === 'Integer' || fieldType === 'Double' ? (
          <InputText
            value={filters[field] ? filters[field].value : ''}
            onChange={e => {
              dt.filter(e.currentTarget.value, field, 'equals');
            }}
          />
        ) : (
          <InputText
            value={filters[field] ? filters[field].value : ''}
            onChange={e => {
              dt.filter(e.currentTarget.value, field, fieldType === 'String' ? 'contains' : 'equals');
            }}
          />
        )}
        </div>
      );
    };
  <%_ } _%>

  const header = (
    <div className="p-grid">
      <div className="p-col-6" style={{ textAlign: 'left' }}>
        <Button className="p-button-secondary" label={translate('<%= i18nKeyPrefix %>.home.createLabel')} onClick={()=>props.history.push('<%= entityModelFileName %>/new')} />
      </div>
      <div className="p-col-6" style={{ textAlign: 'right' }}>
      <Button type="button" className="p-button-secondary" label={translate('<%= i18nKeyPrefix %>.home.showColumns')} onClick={e => op.toggle(e)} />
        <OverlayPanel ref={el => (op = el)} appendTo={document.body} showCloseIcon={true} dismissable={true}>
          <MultiSelect
            style={{ minWidth: '12em' }}
            value={columns}
            options={cols}
            optionLabel="field"
            onChange={e => setColumns(e.value)}
          />
        </OverlayPanel>
      </div>
    </div>
  );

  const fieldTemplate = (entity: any, column: any) => {
    if (column['fieldType'] === 'action') {
      return (
        <div style={{ width: 150, textAlign: 'center' }}>
          <Button
            type="button"
            onClick={() => props.history.push('<%= entityModelFileName %>/' + entity.id)}
            icon="pi pi-search"
            className="p-button-success"
            style={{ marginRight: '.5em' }}
            tooltip={translate('entity.action.view')}
            tooltipOptions={{ position: 'top' }}
          />
          <Button
            type="button"
            onClick={() => props.history.push('<%= entityModelFileName %>/' + entity.id + '/edit')}
            icon="pi pi-pencil"
            className="p-button-warning"
            style={{ marginRight: '.5em' }}
            tooltip={translate('entity.action.edit')}
            tooltipOptions={{ position: 'top' }}
          />
          <Button
            type="button"
            onClick={() => props.history.push('<%= entityModelFileName %>/' + entity.id + '/delete')}
            icon="pi pi-times"
            className="p-button-danger"
            style={{ marginRight: '.5em' }}
            tooltip={translate('entity.action.delete')}
            tooltipOptions={{ position: 'top' }}
          />
        </div>
      );
    } else if (column['fieldType'] === 'Boolean'){
      return <span>{entity[column['field']]?'true':'false'}</span>;
    } else if (column['fieldType'] === 'blob') {
      return (
        <div>
          {entity[column['field']] ? (
            <div>
              <a onClick={openFile(entity[column['field'] + 'ContentType'], entity[column['field']])}>
                <Translate contentKey="entity.action.open">Open</Translate>
                &nbsp;
              </a>
              <span>
                {entity[column['field'] + 'ContentType']}, {byteSize(entity[column['field']])}
              </span>
            </div>
          ) : null}
        </div>
      );
    } else if (column['fieldType'] === 'blobImage') {
      return (
        <div>
          {entity[column['field']] ? (
            <div>
              <a onClick={openFile(entity[column['field'] + 'ContentType'], entity[column['field']])}>
                <img src={`data:${entity[column['field']]}ContentType;base64,${entity[column['field']]}`} style={{ maxHeight: '30px' }} />
                &nbsp;
              </a>
              <span>
                {entity[column['field'] + 'ContentType']}, {byteSize(entity[column['field']])}
              </span>
            </div>
          ) : null}
        </div>
      );
    } else {
      return <span>{entity[column['field']]}</span>;
    }
  };  

  return (
    <div style={{ minHeight: '100vh' }}>
      {
        <DataTable
          ref={el => (dt = el)}
          value={[...props.<%= entityInstance %>List]}
          header={header}
          autoLayout
          <%_ if (pagination !== 'no') { _%>
          lazy  
          paginator
          paginatorTemplate="PageLinks FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink RowsPerPageDropdown "
          rowsPerPageOptions={[10, 15, 20, 25]}
          paginatorPosition="top"
          first={first}
          rows={rows}
          onPage={onPage}
          sortField={sortField}
          sortOrder={sortOrder}
          onSort={onSort}
          <%_ } _%>
          <%_ if (jpaMetamodelFiltering) { _%>
          onFilter={onFilter}
          filters={filters}
          totalRecords={props.totalItems}
          <%_ } _%>
        >
          {columns &&
            columns.map((col, i) => {
              return (
                <Column
                  body={entity => fieldTemplate(entity, col)}
                  key={col.field}
                  field={col.field}
                  header={col.header}
                  <%_ if (pagination !== 'no') { _%>
                  sortable={ col.fieldType === 'action' ? false : true }
                  <%_ } _%>
                  <%_ if (jpaMetamodelFiltering) { _%>
                  filterMatchMode={col.fieldType === 'Enum'||col.fieldType === 'Boolean' ? 'equals' : 'contains'}
                  filter={col.fieldType === 'action'||col.fieldType.includes('blob')?false:true}
                  style={col.fieldType === 'action' ? { width: 260 } : col.fieldType === 'Enum' ? { width: 200 } : { width: 100 }}
                  filterElement={filterOptions(col.field,col.fieldType)}
                  <%_ } _%>
                />
              );
            })
          }
        </DataTable>
      }
    </div>
  );
};

const mapStateToProps = ({ <%= entityInstance %> }: IRootState) => ({
  <%= entityInstance %>List: <%= entityInstance %>.entities,
  <%_ if (pagination !== 'no') { _%>
  totalItems: <%= entityInstance %>.totalItems,
  <%_ } _%>
  <%_ if (pagination === 'infinite-scroll') { _%>
  links: <%= entityInstance %>.links,
  entity: <%= entityInstance %>.entity,
  updateSuccess: <%= entityInstance %>.updateSuccess,
  <%_ } _%>
  
});

const mapDispatchToProps = {
 <%_ otherEntityActions.forEach(val => { _%>
 <%= val.action %>,
 <%_ }) _%>
 <%_ if (searchEngine === 'elasticsearch') { _%>
 getSearchEntities,
 <%_ } _%>
 getEntities,
 <%_ if (jpaMetamodelFiltering) { _%>
  getEntitiesByQuery,
 <%_ } _%>
 <%_ if (pagination === 'infinite-scroll') { _%>
 reset
 <%_ } _%>

};

type StateProps = ReturnType<typeof mapStateToProps>;
type DispatchProps = typeof mapDispatchToProps;

export default connect(mapStateToProps, mapDispatchToProps)(<%= entityReactName %>);