<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React, { useState, useEffect } from 'react';
import { translate } from 'react-jhipster';
<%_ if (pagination === 'infinite-scroll') { _%>
import InfiniteScroll from 'react-infinite-scroller';
<%_ } _%>
import { connect } from 'react-redux';
import { Link, RouteComponentProps } from 'react-router-dom';
import {
  <%_ if (blobFields.length > 0) { _%>
    <%_ if (fieldsContainBlobOrImage) { _%>
  openFile,
    <%_ } _%>
  byteSize,
  <%_ } _%>
  Translate<% if (searchEngine === 'elasticsearch') { %>, translate, ICrudSearchAction<% } %>,
  ICrudGetAllAction<% if (fieldsContainDate) { %>, TextFormat<% } %>
  <%_ if (pagination !== 'no') { _%>
  , getSortState, IPaginationBaseState
  <%_ if (pagination === 'pagination' || pagination === 'pager') { _%>
  , JhiPagination, JhiItemCount
  <%_ }} _%>
} from 'react-jhipster';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';

import { IRootState } from 'app/shared/reducers';
import {
  <%_ if (searchEngine === 'elasticsearch') { _%>
  getSearchEntities,
  <%_ } _%>
  getEntities, getEntitiesByQuery
  <%_ if (pagination === 'infinite-scroll') { _%>
  , reset
  <%_ } _%>
} from './<%= entityFileName %>.reducer';
import { I<%= entityReactName %> } from 'app/shared/model/<%= entityModelFileName %>.model';
 import { APP_DATE_FORMAT, APP_LOCAL_DATE_FORMAT } from 'app/config/constants';
<%_ if (pagination !== 'no') { _%>
import { ITEMS_PER_PAGE } from 'app/shared/util/pagination.constants';
<%_ } _%>
import { DataTable } from 'primereact/datatable';
import { Column } from 'primereact/column';
import { Dialog } from 'primereact/dialog';
import { MultiSelect } from 'primereact/multiselect';
import { OverlayPanel } from 'primereact/overlaypanel';
import { InputText } from 'primereact/inputtext';
import { ScrollPanel } from 'primereact/scrollpanel';
import { Dropdown } from 'primereact/dropdown';
import { Button } from 'primereact/button';

export interface I<%= entityReactName %>Props extends StateProps, DispatchProps, RouteComponentProps<{ url: string }> {

}

<% if (searchEngine === 'elasticsearch' && pagination !== 'no') { _%>
export interface I<%= entityReactName %>State extends IPaginationBaseState {
  search: string;
}
<%_ } else if (searchEngine === 'elasticsearch') { _%>
export interface I<%= entityReactName %>State {
  search: string;
}
<%_ } else if (pagination !== 'no') { _%>
export type I<%= entityReactName %>State = IPaginationBaseState;
<%_ } _%>

export const <%= entityReactName %> = (props: I<%= entityReactName %>Props) => {
  let op;
  let dt;
  const cols = [
  <%_ for (idx in fields) { 
    const fieldType = fields[idx].fieldType;
    const fieldName = fields[idx].fieldName;
    const fieldIsEnum = fields[idx].fieldIsEnum;
    _%>
    {
    field:'<%=fields[idx].fieldName%>',
    header: translate('<%= i18nKeyPrefix %>.<%=fields[idx].fieldName%>'),
    filter: true,
    matchMode: 'contains'
    },
  <%_ } _%>
    ]

  const [rows, setRows] = useState(0);
  const [first, setFirst] = useState(0);
  const [filters, setFilters] = useState();
  const [columns, setColumns] = useState(cols);

  useEffect(() => {
    <%_ if (pagination !== 'no') { _%>
      <%_ if (pagination === 'infinite-scroll') { _%>
      this.reset();
      <%_ } else { _%>
      props.getEntities();
      <%_ } _%>
    <%_ } else { _%>
    this.props.getEntities();
    <%_ } _%>
  }, []);
  const { <%= entityInstance %>List, match, totalItems } = props;
  const onPage = (event: any) => {
    setFirst(event.first);
    setRows(event.rows);
    getEntitiesByQuery({ rows: event.rows, first: event.first, filters });
  };

  const onFilter = (event: any) => {
    setFilters(event.filters);
    getEntitiesByQuery({ rows, first, filters: event.filters });
  };
  
  const itemTemplate = value => {
    return (
      <div className="p-clearfix">
        <span style={{ fontSize: '1em', float: 'right', marginTop: '4px' }}>{translate('<%= i18nKeyPrefix %>.' + value.field)}</span>
      </div>
    );
  };
  
  const selectedTemplate = value => {
    if (value) {
      return (
        <div className="my-multiselected-item-token">
          <span>{translate('<%= i18nKeyPrefix %>.' + value.field)}</span>
        </div>
      );
    } else {
      return <span className="my-multiselected-empty-token">Choose</span>;
    }
  };
  const header = (
    <div className="p-grid">
      <div className="p-col-4" style={{ textAlign: 'left' }}>
        <Button className="p-button-secondary" label={translate('<%= i18nKeyPrefix %>.home.createLabel')} />
      </div>
      <div className="p-col-4 p-fluid" style={{ textAlign: 'center' }}>
        <div>{translate('<%= i18nKeyPrefix %>.home.title')}</div>
        <div>Total: {totalItems}</div>
      </div>
      <div className="p-col-4" />
    </div>
  );

  const footer = (
    <div className="p-grid">
      <div className="p-col-12" style={{ textAlign: 'left' }}>
        <Button type="button" className="p-button-secondary" label={translate('entity.action.toggleColumns')} onClick={e => op.toggle(e)} />
        <OverlayPanel ref={el => (op = el)} appendTo={document.body} showCloseIcon={true} dismissable={true}>
          <MultiSelect
            style={{ minWidth: '12em' }}
            value={columns}
            options={cols}
            optionLabel="field"
            onChange={e => setColumns(e.value)}
            itemTemplate={itemTemplate}
            selectedItemTemplate={selectedTemplate}
          />
        </OverlayPanel>
      </div>
    </div>
  );
  return (
    <div style={{ minHeight: '100vh' }}>
      {
        <DataTable
          ref={el => (dt = el)}
          lazy
          scrollable={columns && columns.length > 0 ? true : false}
          value={[...<%= entityInstance %>List]}
          paginator
          paginatorTemplate="PageLinks FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink RowsPerPageDropdown "
          first={first}
          rows={rows}
          rowsPerPageOptions={[10, 15, 20, 25]}
          onFilter={onFilter}
          filters={filters}
          onPage={onPage}
          totalRecords={totalItems}
          header={header}
          footer={footer}
          // selectionMode="single"
          // selection={entity}
          // onSelectionChange={e => setEntity(e.value)}
          // onRowSelect={() => setAddDialog(true)}
        >
          {columns &&
            columns.map((col, i) => {
              return (
                <Column
                  key={col.field}
                  field={col.field}
                  header={col.header}
                />
              );
            })
          }
        </DataTable>
      }
    </div>
  );

}

  const mapStateToProps = ({ <%= entityInstance %> }: IRootState) => ({
    <%= entityInstance %>List: <%= entityInstance %>.entities,
    <%_ if (pagination !== 'no') { _%>
    totalItems: <%= entityInstance %>.totalItems,
    <%_ } _%>
    <%_ if (pagination === 'infinite-scroll') { _%>
    links: <%= entityInstance %>.links,
    entity: <%= entityInstance %>.entity,
    updateSuccess: <%= entityInstance %>.updateSuccess,
    <%_ } _%>
  });

  const mapDispatchToProps = {
  <%_ if (searchEngine === 'elasticsearch') { _%>
  getSearchEntities,
  <%_ } _%>
  getEntities, getEntitiesByQuery,
  <%_ if (pagination === 'infinite-scroll') { _%>
  reset
  <%_ } _%>
  };


type StateProps = ReturnType<typeof mapStateToProps>;
type DispatchProps = typeof mapDispatchToProps;

export default connect(mapStateToProps, mapDispatchToProps)(<%= entityReactName %>);
